In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib import rcParams
import scipy.stats as sts
import os
from collections import Counter
import requests
import json

## 2012 US census data

In [ ]:
# 2012 census data for all US zipcodes
#reading 2012 combined census data
path_comb_2012=os.path.join('output_census', 'census_comb_2012.csv')
usa_2012=pd.read_csv(path_comb_2012)

In [ ]:
#looking for usa_2012 dataframe
usa_2012.head()

In [ ]:
#columns of 2012  dataframe
usa_2012.columns

In [ ]:
#shape of the dataframe
usa_2012.shape

In [ ]:
#removing the rows with house value less than 1
usa_2012=(usa_2012[(usa_2012['House Value']>0)&
                (usa_2012['Household Income']>0)&
                (usa_2012['Monthly Owner Cost']>0)])

In [ ]:
#looking for null value
usa_2012.isna().sum()

In [ ]:
#removing the rows with lat and lng missing value
usa_2012.dropna(subset=['Lat', 'Lng','Housing_units','County','Public Transport Rate','Personal Transport Rate'], inplace=True)

In [ ]:
#shape of the clean dataframe
usa_2012.shape

In [ ]:
#info of the dataframe
usa_2012.info()

In [ ]:
#describing the dataframe
usa_2012.describe()

In [ ]:
usa_2012.columns

In [ ]:
usa_2012.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [ ]:
usa_2012.shape

In [ ]:
#selecting only required columns
usa_2012_redu=usa_2012[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate','English Language Rate','Spanish Language Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [ ]:
#saving csv file for machine learning
#usa_2012_redu.to_csv('output_census/usa_2012_ml.csv', index=False)

## Looking for 2012 California census data

In [ ]:
#reading 2012 combined california census data
path_ca_2012=os.path.join('output_census', 'census_ca_2012.csv')
ca_2012=pd.read_csv(path_ca_2012)

In [ ]:
#looking for ca_2012 dataframe
ca_2012.head()

In [ ]:
#columns of 2012  dataframe
ca_2012.columns

In [ ]:
#shape of the dataframe
ca_2012.shape

In [ ]:
#removing the rows with house value less than 1
#removing the rows with house value less than 1
ca_2012=(ca_2012[(ca_2012['House Value']>0)&
                (ca_2012['Household Income']>0)&
                (ca_2012['Monthly Owner Cost']>0)])

In [ ]:
#looking for null value
ca_2012.isna().sum()

In [ ]:
#removing the rows with missing value
ca_2012.dropna(subset=['Public Transport Rate',
                        'Personal Transport Rate'], inplace=True)

In [ ]:
#shape of the clean dataframe
ca_2012.shape

In [ ]:
#filling nan to zero for commute time public and commute time car columns
ca_2012[['Commute Time Public', 'Commute Time Car' ]]=ca_2012[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [ ]:
ca_2012['Commute Time Public']

In [ ]:
#converting to int
ca_2012['Population']=ca_2012['Population'].astype(int)

In [ ]:
#info of the dataframe
ca_2012.info()

In [ ]:
#describing the dataframe
ca_2012.describe()

In [ ]:
#saving csv file for plotting
#ca_2012.to_csv('output_census/ca_2012_fg.csv', index=False)

## 2014 US census data

In [2]:
# 2014 census data for all US zipcodes
#reading 2014 combined census data
path_comb_2014=os.path.join('output_census', 'census_comb_2014.csv')
usa_2014=pd.read_csv(path_comb_2014)

In [3]:
#looking for usa_2014 dataframe
usa_2014.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,601,18088.0,37.1,10833.0,7229.0,60.321760,11.012826,105400.0,1982.0,722.0,...,96.240602,0.967492,99.806502,0.000000,Adjuntas,Adjuntas Municipio,NaN,NaN,NaN,PR
1,602,40859.0,39.0,16353.0,9048.0,53.168213,10.639027,91200.0,1980.0,843.0,...,58.540346,2.684843,93.203456,0.183558,Aguada,Aguada Municipio,18.36,-67.18,18073.0,PR
2,603,53162.0,39.2,16323.0,9888.0,48.957902,7.623867,128700.0,1977.0,841.0,...,73.001392,3.598435,96.275535,1.183176,Aguadilla,Aguadilla Municipio,18.45,-67.11,25653.0,PR
3,606,6415.0,39.2,14138.0,6385.0,58.893219,2.681216,105800.0,1977.0,569.0,...,87.622759,2.400624,99.890881,0.000000,Maricao,Maricao Municipio,18.20,-66.90,2877.0,PR
4,610,28805.0,39.7,17265.0,8197.0,49.119944,4.481861,113700.0,1979.0,752.0,...,67.127235,3.478563,99.121680,0.090262,Anasco,Aasco Municipio,18.28,-67.13,12618.0,PR

In [4]:
#columns of 2017  dataframe
usa_2014.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [5]:
#shape of the dataframe
usa_2014.shape

(33120, 30)

In [6]:
#removing the rows with house value less than 1
usa_2014=(usa_2014[(usa_2014['House Value']>0)&
                (usa_2014['Household Income']>0)&
                (usa_2014['Monthly Owner Cost']>0)])

In [7]:
#looking for null value
usa_2014.isna().sum()

Zipcode                         0
Population                      0
Median Age                      0
Household Income                0
Per Capita Income               0
Poverty Rate                    0
Unemployment Rate               0
House Value                     0
House Construction Year         0
Monthly Owner Cost              0
Monthly Rent                    0
Public Transport Rate           0
Personal Transport Rate         0
Commute Time Public         21504
Commute Time Car            21504
High School Rate                0
College Rate                    0
Uneducated Rate                 0
English Language Rate           0
Spanish Language Rate           0
White Population Rate           0
Black Population Rate           0
Hispanic Population Rate        0
Asian Population Rate           0
City                            0
County                          1
Lat                            16
Lng                            16
Housing_units                  16
State                           0
dtype: int64

In [8]:
#removing the rows with lat and lng missing value
usa_2014.dropna(subset=['Lat', 'Lng','Housing_units','County'], inplace=True)

In [9]:
#shape of the clean dataframe
usa_2014.shape

(30279, 30)

In [ ]:
#info of the dataframe
usa_2014.info()

In [ ]:
#describing the dataframe
usa_2014.describe()

In [ ]:
usa_2014.columns

In [ ]:
usa_2014.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [ ]:
usa_2014.shape

In [ ]:
#selecting only required columns
usa_2014_redu=usa_2014[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate','English Language Rate','Spanish Language Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [ ]:
#saving csv file for machine learning
#usa_2014_redu.to_csv('output_census/usa_2014_ml.csv', index=False)

## 2014 California census data

In [10]:
#reading 2014 combined california census data
path_ca_2014=os.path.join('output_census', 'census_ca_2014.csv')
ca_2014=pd.read_csv(path_ca_2014)

In [11]:
#looking for ca_2014 dataframe
ca_2014.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,90001,56314.0,27.3,34050.0,11224.0,33.551160,5.645133,241800.0,1951.0,1649.0,...,49.893455,9.464787,89.814256,0.147388,Los Angeles,Los Angeles County,33.97,-118.25,13788.0,CA
1,90002,50098.0,26.2,30214.0,10497.0,36.159128,5.561100,218800.0,1951.0,1633.0,...,48.375185,24.583816,74.184598,0.301409,Los Angeles,Los Angeles County,33.95,-118.25,12598.0,CA
2,90003,66913.0,26.8,30016.0,9915.0,38.381182,6.874598,228600.0,1949.0,1683.0,...,22.385785,24.637963,74.111159,0.361664,Los Angeles,Los Angeles County,33.96,-118.27,17127.0,CA
3,90004,63547.0,35.8,38493.0,26575.0,25.135726,7.929564,724900.0,1949.0,3578.0,...,34.542937,3.573733,50.831668,25.648732,Los Angeles,Los Angeles County,34.08,-118.31,24278.0,CA
4,90005,38638.0,34.0,31214.0,19305.0,28.316683,7.000880,635500.0,1953.0,3252.0,...,19.550701,4.280760,52.792588,33.324706,Los Angeles,Los Angeles County,34.06,-118.31,16345.0,CA

In [12]:
#columns of 2014  dataframe
ca_2014.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [13]:
#shape of the dataframe
ca_2014.shape

(1763, 30)

In [14]:
#removing the rows with house value less than 1
ca_2014=(ca_2014[(ca_2014['House Value']>0)&
                (ca_2014['Household Income']>0)&
                (ca_2014['Monthly Owner Cost']>0)])

In [15]:
#looking for null value
ca_2014.isna().sum()

Zipcode                       0
Population                    0
Median Age                    0
Household Income              0
Per Capita Income             0
Poverty Rate                  0
Unemployment Rate             0
House Value                   0
House Construction Year       0
Monthly Owner Cost            0
Monthly Rent                  0
Public Transport Rate         0
Personal Transport Rate       0
Commute Time Public         986
Commute Time Car            986
High School Rate              0
College Rate                  0
Uneducated Rate               0
English Language Rate         0
Spanish Language Rate         0
White Population Rate         0
Black Population Rate         0
Hispanic Population Rate      0
Asian Population Rate         0
City                          0
County                        0
Lat                           0
Lng                           0
Housing_units                 0
State                         0
dtype: int64

In [16]:
#removing the rows with missing value

In [18]:
#shape of the clean dataframe
ca_2014.shape

(1591, 30)

In [19]:
#filling nan to zero for commute time public and commute time car columns
ca_2014[['Commute Time Public', 'Commute Time Car' ]]=ca_2014[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [20]:
ca_2014['Commute Time Public']

0            0.0
1            0.0
2            0.0
3            0.0
4       324945.0
          ...
1757         0.0
1758         0.0
1759         0.0
1760         0.0
1762      3510.0
Name: Commute Time Public, Length: 1591, dtype: float64

In [21]:
#converting to int
ca_2014['Population']=ca_2014['Population'].astype(int)

In [22]:
#info of the dataframe
ca_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1591 entries, 0 to 1762
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   1591 non-null   int64
 1   Population                1591 non-null   int64
 2   Median Age                1591 non-null   float64
 3   Household Income          1591 non-null   float64
 4   Per Capita Income         1591 non-null   float64
 5   Poverty Rate              1591 non-null   float64
 6   Unemployment Rate         1591 non-null   float64
 7   House Value               1591 non-null   float64
 8   House Construction Year   1591 non-null   float64
 9   Monthly Owner Cost        1591 non-null   float64
 10  Monthly Rent              1591 non-null   float64
 11  Public Transport Rate     1591 non-null   float64
 12  Personal Transport Rate   1591 non-null   float64
 13  Commute Time Public       1591 non-null   float64
 14  Commute Time Car          1591 non-null   float64
 15  High School Rate          1591 non-null   float64
 16  College Rate              1591 non-null   float64
 17  Uneducated Rate           1591 non-null   float64
 18  English Language Rate     1591 non-null   float64
 19  Spanish Language Rate     1591 non-null   float64
 20  White Population Rate     1591 non-null   float64
 21  Black Population Rate     1591 non-null   float64
 22  Hispanic Population Rate  1591 non-null   float64
 23  Asian Population Rate     1591 non-null   float64
 24  City                      1591 non-null   object
 25  County                    1591 non-null   object
 26  Lat                       1591 non-null   float64
 27  Lng                       1591 non-null   float64
 28  Housing_units             1591 non-null   float64
 29  State                     1591 non-null   object
dtypes: float64(25), int64(2), object(3)
memory usage: 385.3+ KB

In [23]:
#describing the dataframe
ca_2014.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,Uneducated Rate,English Language Rate,Spanish Language Rate,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,Lat,Lng,Housing_units
count,1591.000000,1591.000000,1591.000000,1591.000000,1591.00000,1591.000000,1591.000000,1.591000e+03,1.591000e+03,1591.000000,...,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000,1591.000000
mean,93608.197360,23859.588309,39.799623,63338.534884,31638.92269,15.799600,5.348850,3.907287e+05,-1.255102e+06,2150.230044,...,1.310003,62.382804,20.973316,70.809027,4.251090,30.239868,9.573416,36.339154,-119.898256,8578.024513
std,1815.620943,21839.263300,8.754959,28161.809543,17261.20338,10.052693,2.475556,2.418842e+05,2.893092e+07,773.058022,...,1.628642,22.576559,19.742622,19.451062,7.296059,24.185344,12.658020,2.410507,2.112705,7210.895207
min,90001.000000,50.000000,19.300000,11922.000000,5180.00000,0.000000,0.000000,2.290000e+04,-6.666667e+08,427.000000,...,0.000000,2.068966,0.000000,9.683246,0.000000,0.000000,0.000000,32.550000,-124.300000,21.000000
25%,92233.500000,3171.500000,33.400000,42817.500000,20276.50000,8.318399,3.853681,2.058500e+05,1.964500e+03,1561.500000,...,0.278107,46.525173,6.043723,58.657711,0.500798,10.671194,1.157410,34.050000,-121.845000,1558.000000
50%,93636.000000,20173.000000,38.500000,57287.000000,27463.00000,13.675235,5.174385,3.313000e+05,1.974000e+03,2029.000000,...,0.891620,65.609986,14.003956,74.697646,1.885617,22.791519,4.850746,36.600000,-120.000000,7538.000000
75%,95349.000000,38008.000000,45.000000,77818.000000,38396.50000,20.980855,6.655864,5.239500e+05,1.981000e+03,2605.000000,...,1.893405,81.001156,30.952544,86.095517,4.912660,44.050939,11.991283,38.200000,-118.069350,13845.500000
max,96161.000000,106521.000000,74.500000,236912.000000,142620.00000,67.642753,24.843750,1.000001e+06,2.011000e+03,4001.000000,...,33.108108,100.000000,89.793103,100.000000,81.710857,100.000000,73.655063,41.940000,-114.300000,37182.000000

In [24]:
#saving csv file for plotting
#ca_2014.to_csv('output_census/ca_2014_fg.csv', index=False)

## 2015 US census data

In [ ]:
# 2015 census data for all US zipcodes
#reading 2015 combined census data
path_comb_2015=os.path.join('output_census', 'census_comb_2015.csv')
usa_2015=pd.read_csv(path_comb_2015)

In [ ]:
#looking for usa_2015 dataframe
usa_2015.head()

In [ ]:
#columns of 2017  dataframe
usa_2015.columns

In [ ]:
#shape of the dataframe
usa_2015.shape

In [ ]:
#removing the rows with house value less than 1
usa_2015=(usa_2015[(usa_2015['House Value']>0)&
                (usa_2015['Household Income']>0)&
                (usa_2015['Monthly Owner Cost']>0)])

In [ ]:
#looking for null value
usa_2015.isna().sum()

In [ ]:
#removing the rows with lat and lng missing value
usa_2015.dropna(subset=['Lat', 'Lng','Housing_units','County','Monthly Rent'], inplace=True)

In [ ]:
#shape of the clean dataframe
usa_2015.shape

In [ ]:
#info of the dataframe
usa_2015.info()

In [ ]:
#describing the dataframe
usa_2015.describe()

In [ ]:
usa_2015.columns

In [ ]:
usa_2015.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [ ]:
usa_2015.shape

In [ ]:
#selecting only required columns
usa_2015_redu=usa_2015[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate','English Language Rate','Spanish Language Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [ ]:
#saving csv file for machine learning
#usa_2015_redu.to_csv('output_census/usa_2015_ml.csv', index=False)

## 2015 California census data

In [25]:
#reading 2015 combined california census data
path_ca_2015=os.path.join('output_census', 'census_ca_2015.csv')
ca_2015=pd.read_csv(path_ca_2015)

In [26]:
#looking for ca_2015 dataframe
ca_2015.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,95422,15476.0,42.3,25578.0,16355.0,36.792453,8.419488,86800.0,1976.0,1123.0,...,72.221504,6.216077,23.901525,0.394159,Clearlake,Lake County,38.97,-122.64,8546.0,CA
1,95423,3260.0,55.8,27889.0,18760.0,33.067485,7.239264,160100.0,1975.0,1307.0,...,89.969325,1.717791,6.349693,0.490798,Clearlake Oaks,Lake County,39.10,-122.60,2680.0,CA
2,95425,10597.0,42.3,60517.0,29688.0,8.106068,3.189582,353400.0,1982.0,2026.0,...,77.691800,0.990846,31.112579,4.916486,Cloverdale,Sonoma County,38.80,-123.00,4544.0,CA
3,95426,1544.0,50.9,62833.0,27425.0,24.740933,4.274611,195100.0,1979.0,1295.0,...,91.904145,0.000000,7.707254,6.282383,Cobb,Lake County,38.81,-122.73,1315.0,CA
4,95428,2365.0,40.1,30975.0,16874.0,31.585624,7.906977,235800.0,1973.0,1250.0,...,57.589852,0.507400,16.490486,0.126850,Covelo,Mendocino County,39.70,-123.10,1160.0,CA

In [27]:
#columns of 2015  dataframe
ca_2015.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [28]:
#shape of the dataframe
ca_2015.shape

(1763, 30)

In [29]:
#removing the rows with house value less than 1
ca_2015=(ca_2015[(ca_2015['House Value']>0)&
                (ca_2015['Household Income']>0)&
                (ca_2015['Monthly Owner Cost']>0)])

In [30]:
#looking for null value
ca_2015.isna().sum()

Zipcode                       0
Population                    0
Median Age                    0
Household Income              0
Per Capita Income             0
Poverty Rate                  0
Unemployment Rate             0
House Value                   0
House Construction Year       0
Monthly Owner Cost            0
Monthly Rent                 18
Public Transport Rate         0
Personal Transport Rate       0
Commute Time Public         908
Commute Time Car            908
High School Rate              0
College Rate                  0
Uneducated Rate               0
English Language Rate         0
Spanish Language Rate         0
White Population Rate         0
Black Population Rate         0
Hispanic Population Rate      0
Asian Population Rate         0
City                          0
County                        0
Lat                           0
Lng                           0
Housing_units                 0
State                         0
dtype: int64

In [31]:
#removing the rows with lat and lng missing value
ca_2015.dropna(subset=[ 'Monthly Rent'],inplace=True)

In [32]:
#filling nan to zero for commute time public and commute time car columns
ca_2015[['Commute Time Public', 'Commute Time Car' ]]=ca_2015[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [33]:
#shape of the clean dataframe
ca_2015.shape

(1497, 30)

In [34]:
#saving csv file for plotting
#ca_2015.to_csv('output_census/ca_2015_fg.csv', index=False)

## 2017 US census data

In [ ]:
# 2017 census data for all US zipcodes
#reading 2017 combined census data
path_comb_2017=os.path.join('output_census', 'census_comb_2017.csv')
usa_2017=pd.read_csv(path_comb_2017)

In [ ]:
#looking for usa_2017 dataframe
usa_2017.head()

In [ ]:
#columns of 2017  dataframe
usa_2017.columns

In [ ]:
#shape of the dataframe
usa_2017.shape

In [ ]:
#removing the rows with house value less than 1
usa_2017=(usa_2017[(usa_2017['House Value']>0)&
                (usa_2017['Household Income']>0)&
                (usa_2017['Monthly Owner Cost']>0)])

In [ ]:
#looking for null value
usa_2017.isna().sum()

In [ ]:
#removing the rows with lat and lng missing value
usa_2017.dropna(subset=['Lat', 'Lng','Housing_units','County'], inplace=True)

In [ ]:
#shape of the clean dataframe
usa_2017.shape

In [ ]:
#info of the dataframe
usa_2017.info()

In [ ]:
#describing the dataframe
usa_2017.describe()

In [ ]:
usa_2017.columns

In [ ]:
usa_2017.drop(['Commute Time Car','Commute Time Public',
               'English Language','Spanish Language'], axis=1, inplace=True)

In [ ]:
usa_2017.shape

In [ ]:
#selecting only required columns
usa_2017_redu=usa_2017[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [ ]:
#saving csv file for machine learning
#usa_2017_redu.to_csv('output_census/usa_2017_ml.csv', index=False)

## 2017 California census data

In [35]:
#reading 2017 combined california census data
path_ca_2017=os.path.join('output_census', 'census_ca_2017.csv')
ca_2017=pd.read_csv(path_ca_2017)

In [36]:
#looking for usa_2017 dataframe
ca_2017.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,90001,58738.0,28.7,35660.0,11882.0,31.757976,4.974633,305500.0,1949.0,1695.0,...,32.367462,9.164425,89.841329,0.224727,Los Angeles,Los Angeles County,33.97,-118.25,13788.0,CA
1,90002,52856.0,27.7,34000.0,11807.0,33.666944,5.032541,272400.0,1951.0,1678.0,...,37.683517,21.569926,76.420842,0.565688,Los Angeles,Los Angeles County,33.95,-118.25,12598.0,CA
2,90003,70490.0,28.2,34397.0,11305.0,32.929494,5.440488,300700.0,1951.0,1688.0,...,29.767343,22.383317,76.766917,0.285147,Los Angeles,Los Angeles County,33.96,-118.27,17127.0,CA
3,90004,62733.0,35.1,46581.0,30590.0,19.104777,4.182806,918500.0,1943.0,3467.0,...,37.758437,4.055282,51.350964,25.074522,Los Angeles,Los Angeles County,34.08,-118.31,24278.0,CA
4,90005,39562.0,35.4,32461.0,21566.0,28.562762,5.156463,713400.0,1949.0,3067.0,...,20.335170,6.228199,49.519741,34.823821,Los Angeles,Los Angeles County,34.06,-118.31,16345.0,CA

In [37]:
#columns of 2017  dataframe
ca_2017.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language',
       'Spanish Language', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'Housing_units', 'State'],
      dtype='object')

In [38]:
#shape of the dataframe
ca_2017.shape

(1763, 30)

In [39]:
#removing the rows with house value less than 1
ca_2017=(ca_2017[(ca_2017['House Value']>0)&
                (ca_2017['Household Income']>0)&
                (ca_2017['Monthly Owner Cost']>0)])

In [40]:
#looking for null value
ca_2017.isna().sum()

Zipcode                        0
Population                     0
Median Age                     0
Household Income               0
Per Capita Income              0
Poverty Rate                   0
Unemployment Rate              0
House Value                    0
House Construction Year        0
Monthly Owner Cost             0
Monthly Rent                   0
Public Transport Rate          0
Personal Transport Rate        0
Commute Time Public          901
Commute Time Car             901
High School Rate               0
College Rate                   0
Uneducated Rate                0
English Language            1534
Spanish Language            1534
White Population Rate          0
Black Population Rate          0
Hispanic Population Rate       0
Asian Population Rate          0
City                           0
County                         0
Lat                            0
Lng                            0
Housing_units                  0
State                          0
dtype: int64

In [ ]:
#removing the rows with lat and lng missing value

In [41]:
#filling nan to zero for commute time public and commute time car columns
ca_2017[['Commute Time Public', 'Commute Time Car' ]]=ca_2017[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [42]:
#shape of the clean dataframe
ca_2017.shape

(1534, 30)

In [43]:
#saving csv file for plotting
#ca_2017.to_csv('output_census/ca_2017_fg.csv', index=False)

## 2019 US census data

In [ ]:
# 2019 census data for all US zipcodes
#reading 2019 combined census data
path_comb_2019=os.path.join('output_census', 'census_comb_2019.csv')
usa_2019=pd.read_csv(path_comb_2019)

In [ ]:
#looking for usa_2014 dataframe
usa_2019.head()

In [ ]:
#columns of 2014  dataframe
usa_2019.columns

In [ ]:
#shape of the dataframe
usa_2019.shape

In [ ]:
#removing the rows with house value less than 1
usa_2019=(usa_2019[(usa_2019['House Value']>0)&
                (usa_2019['Household Income']>0)&
                (usa_2019['Monthly Owner Cost']>0)])

In [ ]:
#looking for null value
usa_2019.isna().sum()

In [ ]:
#removing the rows with lat and lng missing value
usa_2019.dropna(subset=['Lat', 'Lng','Housing_units','County', 
                        'Public Transport Rate','Personal Transport Rate'], 
                         inplace=True)

In [ ]:
#shape of the clean dataframe
usa_2019.shape

In [ ]:
usa_2019.info()

In [ ]:
usa_2019.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [ ]:
usa_2019.shape

In [ ]:
#selecting only required columns
usa_2019_redu=usa_2019[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [ ]:
#saving csv file for machine learning
#usa_2019_redu.to_csv('output_census/usa_2019_ml.csv', index=False)

## 2019 California census data

In [44]:
#reading 2019 combined california census data
path_ca_2019=os.path.join('output_census', 'census_ca_2019.csv')
ca_2019=pd.read_csv(path_ca_2019)

In [45]:
#looking for usa_2019 dataframe
ca_2019.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,90001,59832.0,29.1,43360.0,13727.0,25.496390,3.929335,359000.0,1949,1853.0,...,41.882270,8.921647,90.134042,0.315884,Los Angeles,Los Angeles County,33.97,-118.25,13788.0,CA
1,90002,53302.0,28.0,37285.0,13284.0,31.188323,4.110540,345900.0,1954,1813.0,...,42.973997,18.912986,78.886346,1.029980,Los Angeles,Los Angeles County,33.95,-118.25,12598.0,CA
2,90003,73730.0,28.3,40598.0,13441.0,29.959311,4.002441,362800.0,1954,1892.0,...,33.116777,20.676794,78.348027,0.297030,Los Angeles,Los Angeles County,33.96,-118.27,17127.0,CA
3,90004,60541.0,35.2,49675.0,32090.0,17.784642,2.685783,1063200.0,1946,3489.0,...,35.676649,3.614080,50.289886,25.465387,Los Angeles,Los Angeles County,34.08,-118.31,24278.0,CA
4,90005,39732.0,35.6,38491.0,24267.0,25.999195,3.289540,777100.0,1950,3149.0,...,23.336354,5.763616,49.481526,34.221786,Los Angeles,Los Angeles County,34.06,-118.31,16345.0,CA

In [46]:
#columns of 2019  dataframe
ca_2019.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language',
       'Spanish Language', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'Housing_units', 'State'],
      dtype='object')

In [47]:
#shape of the dataframe
ca_2019.shape

(1763, 30)

In [48]:
#removing the rows with house value less than 1
ca_2019=(ca_2019[(ca_2019['House Value']>0)&
                (ca_2019['Household Income']>0)&
                (ca_2019['Monthly Owner Cost']>0)])

In [49]:
#looking for null value
ca_2019.isna().sum()

Zipcode                        0
Population                     0
Median Age                     0
Household Income               0
Per Capita Income              0
Poverty Rate                   0
Unemployment Rate              0
House Value                    0
House Construction Year        0
Monthly Owner Cost             0
Monthly Rent                   0
Public Transport Rate          0
Personal Transport Rate        0
Commute Time Public          879
Commute Time Car             879
High School Rate               0
College Rate                   0
Uneducated Rate                0
English Language            1524
Spanish Language            1524
White Population Rate          0
Black Population Rate          0
Hispanic Population Rate       0
Asian Population Rate          0
City                           0
County                         0
Lat                            0
Lng                            0
Housing_units                  0
State                          0
dtype: int64

In [ ]:
#removing the rows with lat and lng missing value

In [50]:
#filling nan to zero for commute time public and commute time car columns
ca_2019[['Commute Time Public', 'Commute Time Car' ]]=ca_2019[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [51]:
#shape of the clean dataframe
ca_2019.shape

(1524, 30)

In [52]:
#saving csv file for plotting
#ca_2019.to_csv('output_census/ca_2019_fg.csv', index=False)

In [ ]:
#saving csv file for machine learning
#ca_19.to_csv('output_census/ca_2019_ml.csv', index=False)